html {
    height: 100%;
    background: radial-gradient(circle , #ccc, red);
}
#heading {
    text-align: center;
    font-family: cursive;
}
#eye {
    margin-left: 50%;
}
#container {
    height: 400px;
    width: 500px;
    background-color: rgb(238, 174, 37);
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px 0px rgba(199, 26, 35, 0.61) ;
    position: relative;
}
#score {
    background-color: red;
    color: black;
    padding: 10px;
    position: absolute;
    left: 440px;
    box-shadow: 2px 2px 6px 0px ;
    border-radius: 5px;
}
#correct {
    position: absolute;
    left: 230px;
    background-color: rgb(11, 180, 11);
    color: aliceblue;
    padding: 9px;
    border-radius: 10px;
    display: none;
}
#wrong {
    position: absolute;
    left: 230px;
    background-color: rgb(214, 19, 19);
    color: aliceblue;
    padding: 9px;
    border-radius: 10px;
    display: none;
}
#question {
    background-color: rgba(115, 255, 0, 0.904);
    width: 450px;
    height: 150px;
    margin: 50px auto 10px auto;
    box-shadow: 2px 2px 6px rgb(31, 114, 6);
    font-size: 100px;
    text-align: center;
    font-family: cursive , sans-serif;
    color: black;
    border-radius: 5px;

}
#instruction {
    background-color: red;
    width: 450px;
    height: 50px;
    margin: 10px auto ;
    text-align: center;
    line-height: 50px;
    box-shadow: 2px 3px 6px rgb(196, 12, 12);
    border-radius: 5px;
}
#instruction span{
    transition: all 0.3s;
    cursor:none;
}
#instruction span:hover {
    border-bottom: 2px solid white;
    color: white;
    font-size: large;
}
#choices {
    width: 450px;
    height: 100px;
    /* background-color: brown; */
    margin: 5px auto ;
    /* box-shadow: 2px 3px 6px rgb(196, 12, 12); */
}
.box {
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 36px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 6px rgb(9, 166, 172);
    text-align: center;
    line-height: 80px;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.box:hover {
/*     background-color: rgba(115, 255, 0, 0.904);
    box-shadow: 2px 2px 10px rgb(225, 229, 248);
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 2px 2px red; */
}
.box:active{
    background-color: rgba(115, 255, 0, 0.904);
    box-shadow: 0px 0px rgb(225, 229, 248);
    font-size: 50px;
    text-shadow: 2px 2px red; 
    color: rgb(255, 255, 255);
    top: 4px;
}
#box4 {
    margin-right: 0px;
}
#startReset{
    width: 85px;
    height: 30px;
    background-color: rgba(64, 216, 33, 0.733);
    /* float: left; */
    /* margin-right: 36px; */
    margin:  0 auto;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 3px 6px rgb(172, 61, 9);
    text-align: center;
    line-height: 30px;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}
#startReset:active {
    box-shadow: 0px 0px rgb(225, 229, 248);
    top: 4px;
}
#startReset:hover {
    background-color: green;
    color: white;
}
#timer {
    width: 180px;
    padding: 10px;
    position: absolute;
    bottom: 380px;
    /* visibility: hidden; */
    display: none;
}
#gameOver {
    height: 200px;
    width: 500px;
    background: linear-gradient(rgb(218, 112, 112) , rgb(221, 6, 6));
    color: rgb(199, 217, 231);
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 100px;
    z-index: 2;
    display: none;
    font-family: cursive , sans-serif;
}
